---
import { getSeason } from '../../scripts/getSeason';
import Button from '../system/Button.astro';
import MoreCustomizations from './MoreCustomizations.astro';
const season = getSeason();
---

<div class="root">
	<form id="season-picker">
		<Button tag="label" emphasis="ambient" class="season-button @mode-spring">
			<input
				type="radio"
				name="season"
				value="spring"
				id="season-spring"
				checked={season === 'spring'}
			/>
			🌸
		</Button>
		/
		<Button tag="label" emphasis="ambient" class="season-button @mode-summer">
			<input
				checked={season === 'summer'}
				type="radio"
				name="season"
				value="summer"
				id="season-summer"
			/>
			🍀
		</Button>
		/
		<Button tag="label" emphasis="ambient" class="season-button @mode-autumn">
			<input
				type="radio"
				name="season"
				value="autumn"
				id="season-autumn"
				checked={season === 'autumn'}
			/>
			🍂
		</Button>
		/
		<Button tag="label" emphasis="ambient" class="season-button @mode-winter">
			<input
				type="radio"
				name="season"
				value="winter"
				id="season-winter"
				checked={season === 'winter'}
			/>
			❄️
		</Button>
		|
		<Button tag="label" emphasis="ambient" class="scheme-button">
			<input type="checkbox" name="scheme" value="light" id="scheme" />
			<span class="when-light">☀️</span>
			<span class="when-dark">🌑</span>
		</Button>
		|
	</form>
	<MoreCustomizations />
</div>

<style>
	#season-picker,
	.root {
		display: inline-flex;
		flex-direction: row;
		gap: var(--m-space);
		align-items: center;
	}
	input {
		display: none;
	}
	.season-button,
	.scheme-button {
		padding: var(--m-space-sm);
		aspect-ratio: 1;
		line-height: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.season-button:has(input:checked) {
		@apply --mx-bg(var(--m-color-main-wash));
	}

	.when-light {
		display: none;
	}
	input:checked + .when-light {
		display: block;
	}
	input:checked ~ .when-dark {
		display: none;
	}
</style>

<script>
	const seasonPicker = document.getElementById('season-picker')!;
	seasonPicker.addEventListener('change', (event) => {
		const formData = new FormData(seasonPicker as HTMLFormElement);
		const selectedSeasons = formData.getAll('season');
		document.documentElement.classList.remove(
			...[
				'@mode-spring',
				'@mode-summer',
				'@mode-autumn',
				'@mode-winter',
				'@mode-dark',
				'@mode-light',
			],
		);
		selectedSeasons.forEach((season) => {
			document.documentElement.classList.add(`@mode-${season}`);
		});
		const scheme = formData.get('scheme');
		if (scheme === 'light') {
			document.documentElement.classList.add(`@mode-light`);
		} else {
			document.documentElement.classList.add(`@mode-dark`);
		}
	});
</script>

<script>
	// initialize light/dark based on prefers-color-scheme
	const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
	if (prefersDark) {
		document.getElementById('scheme')?.removeAttribute('checked');
	} else {
		document.getElementById('scheme')?.setAttribute('checked', '');
	}
</script>
