---
import SelectChip from '../system/SelectChip.astro';
import { getInternals } from '@arbor-css/core';
import { basePreset as preset } from '../../../arbor.config';

export interface Props {
	targetSelector: string;
	exclude?: string[];
}
const { targetSelector, ...props } = Astro.props;
const modeNames = Object.keys(getInternals(preset).modes).filter(
	(modeName) => !props.exclude || !props.exclude.includes(modeName),
);
---

<mode-selector data-target={targetSelector} {...props}>
	<div class="mode-selector @mode-dense">
		{
			modeNames.map((name) => (
				<SelectChip
					value={`@mode-${name}`}
					name="mode"
				>{`@mode-${name}`}</SelectChip>
			))
		}
	</div>
</mode-selector>

<style>
	.mode-selector {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--m-spacing-sm);
		align-items: center;
	}
</style>

<script>
	class ModeSelectorElement extends HTMLElement {
		private target: HTMLElement | null = null;
		private observer: MutationObserver | null = null;
		private pauseSync = false;
		private pauseListener = false;
		static observedAttributes = ['data-target'];
		private concernedModeNames = new Set<string>();

		connectedCallback() {
			this.target = this.getTarget();
			if (!this.target) {
				return;
			}

			this.addEventListener('change', this.onChange);
			this.observer = new MutationObserver(this.syncFromTarget);
			this.observer.observe(this.target, {
				attributes: true,
				attributeFilter: ['class'],
			});

			// Determine which mode classes to pay attention to based on the inputs in this component
			const inputs = this.querySelectorAll(
				'input[name="mode"]',
			) as NodeListOf<HTMLInputElement>;
			inputs.forEach((input) => {
				this.concernedModeNames.add(input.value);
			});

			this.syncFromTarget();
		}

		disconnectedCallback() {
			this.removeEventListener('change', this.onChange);
			this.observer?.disconnect();
			this.observer = null;
		}

		private getTarget() {
			const targetSelector = this.getAttribute('data-target');
			if (!targetSelector) {
				return null;
			}

			return document.querySelector(targetSelector) as HTMLElement | null;
		}

		private onChange = () => {
			if (!this.target || this.pauseListener) {
				return;
			}

			const selectedModeNames = Array.from(
				this.querySelectorAll('input[name="mode"]:checked'),
				(input) => (input as HTMLInputElement).value,
			);

			const existingModeClasses = [...this.target.classList.values()].filter(
				(c) => c.startsWith('@mode-') && this.concernedModeNames.has(c),
			);
			this.pauseSync = true;
			this.target.classList.remove(...existingModeClasses);
			this.target.classList.add(...selectedModeNames);
			this.pauseSync = false;
		};

		private syncFromTarget = () => {
			if (!this.target || this.pauseSync) {
				return;
			}

			const modeClasses = [...this.target.classList.values()].filter(
				(c) => c.startsWith('@mode-') && this.concernedModeNames.has(c),
			);

			const inputs = this.querySelectorAll(
				'input',
			) as NodeListOf<HTMLInputElement>;
			this.pauseListener = true;
			inputs.forEach((input) => {
				input.checked = modeClasses.includes(input.value);
			});
			this.pauseListener = false;
		};
	}

	if (!customElements.get('mode-selector')) {
		customElements.define('mode-selector', ModeSelectorElement);
	}
</script>
