---
import Switch from '../system/Switch.astro';
interface Props {
	class?: string;
}
const { class: className, ...props } = Astro.props;
---

<label class:list={['reveal-modes', className]} {...props}>
	<Switch id="reveal-modes" />
	<slot />
</label>

<script>
	const revealModeInput = document.getElementById(
		'reveal-modes',
	) as HTMLInputElement;
	revealModeInput.addEventListener('change', () => {
		document.documentElement.classList.toggle('reveal-modes');
	});

	const elementsWithModes = document.querySelectorAll(
		'[class*="@mode-"]',
	) as NodeListOf<HTMLElement>;
	elementsWithModes.forEach((el) => {
		const modeClasses = Array.from(el.classList).filter((cls) =>
			cls.startsWith('@mode-'),
		);
		if (modeClasses.length > 0) {
			const modeInfo = modeClasses.join(', ');

			const anchorId = `--a-${Math.random().toString(36).substr(2, 9)}`;
			el.style.setProperty('anchor-name', anchorId);

			const modeTag = document.createElement('div');
			modeTag.textContent = modeInfo;
			modeTag.classList.add('mode-tag', '@mode-denser');
			modeTag.style.setProperty('position-anchor', anchorId);
			document.body.appendChild(modeTag);
		}
	});
</script>

<style is:global>
	.mode-tag {
		display: none;

		position: fixed;
		left: anchor(left);
		top: anchor(bottom);

		@apply --mx-bg(var(--m-surface-ambient-bg));
		@apply --mx-fg(var(--m-surface-ambient-fg));
		@apply --mx-borderColor(var(--m-surface-ambient-border));
		@apply --mx-shadow(var(--m-shadow-md));
		border-radius: var(--m-surface-radius);
		padding: var(--m-space-sm);
		font-size: var(--m-prose-ambient-size);
		font-family: monospace;
		line-height: 1;
		pointer-events: none;
		z-index: 9999;
		whitespace: nowrap;
		width: max-content;
		transform: rotate(30deg);
		transform-origin: top left;

		.reveal-modes & {
			display: block;
		}
	}
</style>
