---
import Button from '../system/Button.astro';
import SelectChip from '../system/SelectChip.astro';
---

<form id="season-picker">
	<Button tag="label" emphasis="ambient" class="season-button @mode-spring">
		<input type="radio" name="season" value="spring" id="season-spring" />
		🌸
	</Button>
	/
	<Button tag="label" emphasis="ambient" class="season-button @mode-summer">
		<input
			checked
			type="radio"
			name="season"
			value="summer"
			id="season-summer"
		/>
		🍀
	</Button>
	/
	<Button tag="label" emphasis="ambient" class="season-button @mode-autumn">
		<input type="radio" name="season" value="autumn" id="season-autumn" />
		🍂
	</Button>
	/
	<Button tag="label" emphasis="ambient" class="season-button @mode-winter">
		<input type="radio" name="season" value="winter" id="season-winter" />
		❄️
	</Button>
	<Button tag="label" emphasis="ambient" class="scheme-button @mode-light">
		<input type="radio" name="scheme" value="light" id="scheme-light" />
		☀️
	</Button>
	<Button tag="label" emphasis="ambient" class="scheme-button @mode-dark">
		<input type="radio" name="scheme" value="dark" id="scheme-dark" />
		🌙
	</Button>
</form>

<style>
	#season-picker {
		display: inline-flex;
		flex-direction: row;
		gap: var(--m-spacing);
		align-items: center;
	}
	input {
		display: none;
	}
	.season-button,
	.scheme-button {
		padding: var(--m-spacing-sm);
		aspect-ratio: 1;
		line-height: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.season-button:has(input:checked),
	.scheme-button:has(input:checked) {
		@apply --mx-bg(var(--m-color-main-wash));
	}
</style>

<script>
	const seasonPicker = document.getElementById('season-picker')!;
	seasonPicker.addEventListener('change', (event) => {
		const formData = new FormData(seasonPicker as HTMLFormElement);
		const selectedSeasons = formData.getAll('season');
		document.documentElement.classList.remove(
			...[
				'@mode-spring',
				'@mode-summer',
				'@mode-autumn',
				'@mode-winter',
				'@mode-dark',
				'@mode-light',
			],
		);
		selectedSeasons.forEach((season) => {
			document.documentElement.classList.add(`@mode-${season}`);
		});
		const selectedSchemes = formData.getAll('scheme');
		selectedSchemes.forEach((scheme) => {
			document.documentElement.classList.add(`@mode-${scheme}`);
		});
	});
</script>
