---
import Grid from '../components/system/Grid.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Arbor CSS</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Instrument+Serif:ital@0;1&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap"
			rel="stylesheet"
		/>
		<script>
			import { connect } from '@arbor-css/core/runtime';
			import { basePreset } from '../../arbor.config.js';
			connect(basePreset);
		</script>
	</head>
	<body>
		<Grid data-mode-mixer-target>
			<slot />
		</Grid>

		<script
			src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"
		></script>
	</body>
</html>
