<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="@mode-base">
		<article class="flex flex-col bg-surface-primary gap-[1rem] p-[1rem]">
			<slot />
		</article>
	</body>
</html>
