---
import Head from '../components/Head.astro';
import Grid from '../components/system/Grid.astro';
import { getSeason } from '../scripts/getSeason.js';
import '../styles/global.css';

const initialSeason = getSeason();
---

<html lang="en" class={`@mode-${initialSeason}`}>
	<head>
		<Head />
	</head>
	<body>
		<Grid data-mode-mixer-target>
			<slot />
		</Grid>

		<script
			src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"
		></script>
	</body>
</html>
