---
import Grid from '../components/system/Grid.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Arbor CSS</title>
		<link rel="stylesheet" href="/henrietta.css" />
	</head>
	<body>
		<Grid>
			<slot />
		</Grid>

		<script>
			import { connect } from '@arbor-css/core/runtime';
			import preset from '../../arbor.config.js';
			connect(preset);
		</script>
		<script src="../scripts/modePainter.ts"></script>
	</body>
</html>
