---
import Button from './Button.astro';
---

<div class="group flex flex-col gap rd-lg p-sm b">
	<div class="w-full h-150px bg-main-wash rd-nest b"></div>
	<div class="flex flex-col items-start group gap-sm p-sm">
		<h2 class="text-lg">Card Title</h2>
		<p class="color-main-ink">
			This is a simple card component using Arbor CSS utilities.
		</p>
		<Button>Action</Button>
	</div>
</div>
