<div class="@group nest-all flex flex-col-reverse md:flex-row gap p-sm b rd">
	<div
		data-id="demo-src"
		class="[tab-size:2ch] rd overflow-hidden flex-2 [&>*]:p"
	>
		<slot name="doc" />
		<slot name="source" />
	</div>
	<div
		data-id="demo-live"
		class="@group-reset bg-main-wash p rd flex items-center justify-center flex-1"
	>
		<slot name="live" />
	</div>
</div>
