---
export interface Props {
	tag?: 'div' | 'main' | 'section' | 'article';
	class?: string;
	id?: string;
	title?: string;
	description?: string;
}
const {
	tag: TagName = 'div',
	class: className,
	title,
	description,
	...rest
} = Astro.props;
---

<TagName class:list={['card', className]} {...rest}>
	{title && <h2>{title}</h2>}
	{description && <p>{description}</p>}
	<slot />
</TagName>

<style>
	.card {
		@apply --mx-shadow(var(--m-shadow-md));
		@apply --mx-surface-secondary;
		display: flex;
		flex-direction: column;
		gap: var(--m-spacing);
		align-items: start;
		transition-property: all;
		transition-duration: var(--m-duration);
		transition-timing-function: var(--m-easing);
	}

	h2 {
		margin: 0;
		@apply --mx-text-primary;
		font-weight: var(--m-typography-weight-bold);
	}
	p {
		margin: 0;
		@apply --mx-text-secondary;
		font-weight: var(--m-typography-weight-normal);
		@apply --mx-fg(var(--m-surface-ambient-fg));
	}
</style>
