---
export interface Props {
	value: string;
	name: string;
}
const { value, name, ...props } = Astro.props;
---

<label class="select-chip" {...props}>
	<input type="checkbox" name={name} value={value} class="select-chip-input" />
	<div class="select-chip-content">
		<slot />
	</div>
</label>

<style>
	.select-chip {
		@apply --mx-shadow;
		@apply --mx-action-ambient;
		@apply --mx-text-secondary;
		line-height: 1;
		font-weight: var(--m-primitive-typography-weight-bold);

		cursor: pointer;
		display: block;

		&:has(.select-chip-input:checked) {
			@apply --mx-action-primary;
		}

		@apply --mx-disabled;
		@apply --mx-hover;
		@apply --mx-focus;
		@apply --mx-active;
	}
	.select-chip-input {
		visibility: hidden;
		position: absolute;
		width: 0;
		height: 0;
		overflow: clip;
	}
</style>
