---
import Title from '../components/Title.astro';
---

<div>
	<Title>Arbor CSS</Title>
	<p class="p-sm rounded-lg bg-primary-wash">
		The next step in on-demand utility CSS.
	</p>
</div>

<div class="group b bg-primary-wash p-lg">
	<div class="group b bg-white p-lg">Grouped</div>
</div>
