---
import Copyable from '../components/Copyable.astro';
import ModeMixer from '../components/demo/ModeMixer.astro';
import RevealModes from '../components/demo/RevealModes.astro';
import SeasonPicker from '../components/demo/SeasonPicker.astro';
import TokenHelp from '../components/demo/TokenHelp.astro';
import ArborImage from '../components/graphics/ArborImage.astro';
import Logo from '../components/graphics/Logo.astro';
import Button from '../components/system/Button.astro';
import Grid from '../components/system/Grid.astro';
import Layout from '../layouts/Homepage.astro';
---

<Layout>
	<div class="container">
		<nav class="@mode-dense">
			<div class="nav-start">
				<Logo class="nav-logo" />
				<h1 class="nav-title">Arbor CSS</h1>
				<SeasonPicker />
			</div>
			<ul class="nav-links">
				<li><a href="/docs">Documentation</a></li>
				<li><a href="https://github.com/a-type/arbor">GitHub</a></li>
			</ul>
		</nav>

		<div class="hero @mode-hero">
			<Grid class="hero-grid">
				<div style="grid-area: tagline;">
					<h1 class="tagline">
						The CSS<br /> Design System<br />
						<mark>System</mark>
						<div id="mark-bg"></div>
					</h1>
				</div>
				<div style="grid-area: logo;" class="logo-section">
					<ArborImage class="arbor-image" />
				</div>
				<div style="grid-area: description;">
					<p class="description">
						Scale your styling & enliven your designs, with <i>fewer</i> tokens
					</p>
				</div>
				<div class="cta @mode-normal">
					<Copyable class="button" value="npm install @arbor-css/core">
						<code>npm install @arbor-css/core</code>
					</Copyable>
					<Button tag="a" href="/docs">Read the docs</Button>
				</div>
			</Grid>
		</div>

		<main>
			<section>
				<h2>Scale variations with modes</h2>
				<RevealModes>Show modes on this page</RevealModes>
				<p>
					Inspired by the <a href="https://mode.place">Mise en Mode</a> methodology,
					Arbor manages design variations with the powerful <em>mode</em> system,
					not token groups. Define one small set of tokens, then remix them with modes
					to quickly build out comprehensive treatments for things like <i
						>error</i
					>, <i>success</i>, <i>dense</i>, <i>hero</i>, and <i
						>anything you dream up</i
					>.
				</p>
				<ModeMixer />
				<p>
					Modes give you the peace of mind that all tokens are defined and
					consistent. They make it easy to do the right thing when building. And
					they make it possible to freely layer in experimental treatments and
					variations without revising your token set.
				</p>
			</section>
			<section>
				<h2>Design with rules, not artifacts</h2>
				<p>
					We call design tokens "decisions," but that's not really true -
					decisions are living rules; the tokens we export are just the outcome
					of those rules.
				</p>
				<p>
					Arbor gives you the full power of modern CSS to imbue your tokens with
					powerful, contextual, <i>real</i> rules. Adjust padding based on roundness.
					Calculate text metrics from a density global. Then watch as these rules
					produce emergent, consistent styles across the interface.
				</p>
				<p>
					Take a look at how changing one global token affects everything
					downstream:
				</p>
				<arbor-mode-graph mode="dense" class="@mode-dense"></arbor-mode-graph>
				<p>
					Because these "living" tokens can do the work of many static tokens,
					your token set stays small and manageable.
				</p>
			</section>
			<section>
				<h2>Your tokens, superpowered</h2>
				<p>
					Arbor comes with token validation, rich documentation, color previews,
					and editor suggestions for developers. Drive token adoption with
					carrot and stick.
				</p>
				<TokenHelp />
			</section>
			<section>
				<h2>Tomorrow's CSS, today</h2>
				<p>
					Arbor is future-proof, using upcoming CSS standards like <code
						>@function</code
					> and <code>@mixin</code>, transformed with PostCSS to work in all
					browsers today. Arbor sprinkles in token dependency resolution,
					typechecking, and CSS simplification preprocessing on top.
				</p>
				<p>
					Arbor gets you started with a powerful set of built-in mixins and
					functions.
				</p>
				<arbor-mixins-list></arbor-mixins-list>
				<arbor-functions-list></arbor-functions-list>
			</section>
		</main>
		<footer class="@mode-dense">
			<div class="footer-graphic">
				<ArborImage />
				<i>Vita &amp; Structura</i>
			</div>
			<div class="footer-info">
				<p>
					Made by <a href="https://gfor.rest">Grant Forrest</a>
				</p>
				<p>
					<a href="/docs">Documentation</a>
				</p>
				<p>
					<a href="https://github.com/a-type/arbor">GitHub</a>
				</p>
			</div>
		</footer>
	</div>

	<style>
		.container {
			display: flex;
			flex-direction: column;
			max-width: min(800px, 90vw);
			margin: 0 auto;
			padding: var(--m-spacing-md);
			gap: var(--m-spacing-xl);
			box-sizing: border-box;
		}

		.nav-logo {
			width: 32px;
			height: 32px;
		}

		.nav-title {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-primary-size);
			font-weight: var(--m-primitive-typography-weight-bold);
			font-family: var(--m-text-primary-font);
			line-height: var(--m-text-primary-lineHeight);
			margin: 0;
		}

		.nav-start {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: var(--m-spacing-lg);
			flex: 1;

			@media (min-width: 600px) {
				flex-direction: row;
				align-items: center;
				gap: var(--m-spacing);
			}
		}

		.nav-links {
			display: flex;
			flex-direction: row;
			gap: var(--m-spacing-lg);
			list-style: none;
			padding: 0;
			margin: 0;
		}

		nav {
			width: 100%;
			display: flex;
			flex-direction: row;
			gap: var(--m-spacing);
			padding: var(--m-spacing);
			align-items: center;
			justify-content: between;
			position: sticky;
			top: 0;
			@apply --mx-bg(inherit);
			@apply --mx-border(var(--m-surface-ambient-border));
			border-width: 0;
			border-bottom-width: var(--m-lineWidth);
			z-index: 100000;
		}

		.hero {
			min-height: 50vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.hero-grid {
			width: 100%;
			grid-template-areas: 'logo' 'tagline' 'description' 'cta';
			grid-template-rows: 200px auto auto;
			grid-template-columns: 1fr auto;

			& > * {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;
			}

			border-radius: var(--m-surface-radius);

			@media (min-width: 800px) {
				grid-template-areas: 'tagline logo' 'description logo' 'cta cta';
				grid-template-rows: auto auto;
				grid-template-columns: minmax(min-content, 2fr) 1fr;
			}
		}

		.tagline {
			position: relative;
			z-index: 1;
		}

		mark {
			anchor-name: --mark;
			@apply --mx-fg(var(--m-color-main-ink));
			@apply --mx-bg(transparent);
			padding: 0;
			border-radius: var(--m-action-radius);
			position: relative;
			z-index: 2;
		}

		#mark-bg {
			content: '';
			position: fixed;
			position-anchor: --mark;
			top: calc(anchor(top) + anchor-size(height) / 3);
			left: anchor(left);
			width: anchor-size(width);
			height: calc(anchor-size(height) / 2);
			@apply --mx-bg(var(--m-color-main-wash));
			border-radius: var(--m-action-radius);
			opacity: 0.5;
			z-index: 0;
		}

		main {
			display: flex;
			flex-direction: column;
			gap: var(--m-spacing-xl);
		}

		section {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			text-align: left;
			gap: var(--m-spacing);
			box-sizing: border-box;
		}

		.logo-section {
			gap: var(--m-spacing);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			min-height: 0;
			align-items: center;
			justify-content: center;
		}

		.arbor-image {
			flex: 1;
		}

		.tagline {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-primary-size);
			font-weight: var(--m-primitive-typography-weight-thin);
			font-family: var(--m-text-primary-font);
			line-height: var(--m-text-primary-lineHeight);
		}

		.description {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-ambient-size);
			font-weight: var(--m-primitive-typography-weight-semiBold);
			font-family: var(--m-text-ambient-font);
			line-height: var(--m-text-ambient-lineHeight);
		}

		a {
			@apply --mx-fg(inherit);
			font-weight: bold;
			font-family: var(--m-text-secondary-font);
			text-decoration: none;
			line-height: 1;
		}

		h1,
		h2,
		h3 {
			margin: 0;
		}
		p {
			margin-top: 0;
			margin-bottom: var(--m-spacing-lg);
		}

		.cta {
			grid-area: cta;
			display: flex;
			gap: var(--m-spacing);
			flex-wrap: wrap;
		}

		arbor-mode-graph {
			width: 100%;
			box-sizing: border-box;

			--modeGraph-token-bg: var(--m-surface-secondary-bg);
		}

		footer {
			display: flex;
			flex-direction: column-reverse;
			align-items: start;
			padding: var(--m-spacing-lg);
			gap: var(--m-spacing-lg);
			width: 100%;

			@media (min-width: 600px) {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				font-size: var(--m-text-secondary-size);

				.footer-info {
					text-align: end;
				}
			}
		}
	</style>
</Layout>
