---
import Logo from '../components/Logo.astro';
import Grid from '../components/system/Grid.astro';
import Layout from '../layouts/Homepage.astro';
---

<Layout>
	<div class="container">
		<nav>
			<Logo class="nav-logo" />
			<a href="/docs">Documentation</a>
			<a href="https://github.com/a-type/arbor">GitHub</a>
		</nav>

		<Grid class="hero-grid @mode-hero">
			<section style="grid-area: tagline;">
				<h1 class="tagline">The CSS Design System System</h1>
			</section>
			<section style="grid-area: logo;" class="logo-section">
				<Logo class="logo" />
			</section>
			<section style="grid-area: description;">
				<p class="description">
					Scale your styling, enliven your designs, and maintain fewer tokens
				</p>
			</section>
		</Grid>

		<div class="ctas">
			<Copyable>
				<code>npm install @arbor-css/core</code>
			</Copyable>
			<a class="button" href="/docs">Read the docs</a>
		</div>
	</div>

	<style>
		.container {
			max-width: 1000px;
			margin: 0 auto;
			padding: var(--m-spacing-lg) var(--m-spacing);
		}

		.hero-grid {
			grid-template-areas: 'logo' 'tagline' 'description';
			grid-template-rows: minmax(200px, auto) auto auto;
			grid-template-columns: 1fr auto;

			border-radius: var(--m-surface-radius);

			@media (min-width: 400px) {
				grid-template-areas: 'tagline logo' 'description logo';
				grid-template-rows: auto auto;
				grid-template-columns: 3fr 1fr;
			}
		}

		section {
			display: flex;
			align-items: center;
			justify-content: start;
			text-align: left;
		}

		.logo-section {
			gap: var(--m-spacing);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			min-height: 0;
			align-items: center;
			justify-content: center;
		}

		.logo {
			flex: 1;
		}

		.tagline {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-primary-size);
			font-weight: var(--m-primitive-typography-weight-thin);
			font-family: var(--m-text-primary-font);
			line-height: var(--m-text-primary-lineHeight);
		}

		.description {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-ambient-size);
			font-weight: var(--m-primitive-typography-weight-bold);
			font-family: var(--m-text-ambient-font);
			line-height: var(--m-text-ambient-lineHeight);
		}

		a {
			@apply --mx-fg(inherit);
			font-size: var(--m-text-secondary-size);
			font-weight: bold;
			font-family: var(--m-text-secondary-font);
			text-decoration: none;
			line-height: 1;
		}

		h1,
		h2,
		h3 {
			margin: 0;
		}

		.ctas {
			display: flex;
			gap: var(--m-spacing);
			flex-wrap: wrap;
		}
	</style>
</Layout>
