---
import Decorated from '../components/Decorated.astro';
import Logo from '../components/Logo.astro';
import PaletteSwitcher from '../components/PaletteSwitcher.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Homepage.astro';
---

<Layout>
	<section
		class:list={[
			'p-xl flex flex-col items-center justify-center',
			'gap-lg bg-surface-primary color-surface-primary md:min-h-50vh',
		]}
	>
		<div class="flex flex-col items-center gap-lg sm:flex-row @mode-hero">
			<Logo className="h-50vmin md:h-120px w-auto" />
			<div class="flex flex-col gap-sm font-[Henrietta]">
				<Title>Arbor&nbsp;CSS</Title>
				<p class="rounded-lg text-secondary">The Design System System</p>
			</div>
		</div>
	</section>

	<div
		class:list={[
			'sticky top-0 flex items-center justify-center',
			'@container [container-type:scroll-state]',
		]}
	>
		<PaletteSwitcher class="stuck-start:(bg-white b rd text-sm)" />
	</div>

	<section
		class:list={['p-xl flex flex-row items-center justify-center gap-lg']}
	>
		<div
			class="flex flex-row gap-lg items-center text-primary font-[Henrietta]"
		>
			Designed for <Decorated className="@mode-structure @mode-winter"
				>Structure</Decorated
			> and <Decorated className="@mode-creativity @mode-summer"
				>Creativity</Decorated
			>.
		</div>
	</section>
	<section>
		Features (todo)
		<ul>
			<li>Define components once, let modes do the rest.</li>
			<li>Powered by tokens</li>
			<li>
				(Go beyond light and dark) Light and dark schemes built-in, extensible
				with custom schemes
			</li>
			<li>Bake your style configuration in, or leave it runtime dynamic</li>
			<li>
				Our preset generates your entire color palette from a handful of hues
			</li>
			<li>
				Full control over color values, range size and step names, everything
				your design system cares about
			</li>
		</ul>
	</section>
	<section>
		<h2>No more of this</h2>
		<div class="flex flex-row gap-md items-center">
			<div
				class="bg-_attention-light color-_attention-ink p-sm rd-md flex flex-row gap-md"
				style="anchor-name:--warning-demo;"
			>
				<div class="i-material-symbols-light:warning-outline"></div>
				<div class="@mode-dense flex flex-col gap-sm">
					<span class="text-primary">Warning!</span>
					<p>Your button doesn't match this alert.</p>
					<button
						class="px-sm py-xs rd-md bg-main-lighter self-end b b-solid b-action-secondary"
					>
						Okay
					</button>
				</div>
			</div>
			<div
				style="position-anchor:--warning-demo;"
				class="fixed left-[calc(anchor(right)-24px)] bottom-[anchor(top)] bg-surface-ambient color-surface-ambient p-sm rd-md flex flex-col gap-sm shadow-md"
			>
				<div class="flex flex-row gap-sm">
					<div class="rd-full bg-main-light w-[32px] aspect-1"></div>
					<span class="text-secondary text-bold">Your PM</span>
				</div>
				<p class="text-sm">"Can you make the button red like the alert?"</p>
			</div>
		</div>
	</section>
</Layout>
