---
const id =
	Astro.props.id || 'annotation-' + Math.random().toString(36).substr(2, 9);
---

<div class="@anchor w-auto h-auto" data-anchor={`--${id}`} id={id}>
	<slot name="wrapped" />
</div>
<div
	class:list={[
		'absolute left-[calc(anchor(right)+1rem)] bottom-[calc(anchor(top)+1rem)]',
		'bg-surface-ambient-bg p-xs border shadow rd-sm w-fit',
	]}
	style={`position-anchor: --${id}`}
>
	<slot name="annotation" />
	<div
		class:list={[
			'w-1px h-1rem absolute right-full top-full bg-black rotate-45 transform-origin-top-left',
		]}
	>
	</div>
</div>
