---
import { modeSchema } from '../../arbor.js';
const style = `background-image: ${modeSchema.$tokens.decoration.var}; background-size: cover; background-position: 0% 0%;`;
const { className } = Astro.props;
---

<div
	class:list={[
		'bg-surface-primary color-main-heavy rd-md overflow-hidden flex items-center justify-center leading-[1]',
		className,
	]}
	style={style}
>
	<div class="w-[100%] h-[100%] p-md bg-inherit/70">
		<slot />
	</div>
</div>
