/* @import('arbor:css') */

:root {
	--sl-color-accent-low: var(--m-tint);
	--sl-color-accent: var(--m-tint-heavy);
	--sl-color-accent-high: var(--m-tint-ink);
	--sl-color-black: var(--m-tint-paper);
	--sl-color-gray-7: var(--m-gray-wash);
	--sl-color-gray-6: var(--m-gray-light);
	--sl-color-gray-5: var(--m-gray);
	--sl-color-gray-4: var(--m-gray);
	--sl-color-gray-3: var(--m-gray-heavy);
	--sl-color-gray-2: var(--m-gray-ink);
	--sl-color-gray-1: var(--m-gray-ink);
	--sl-color-white: var(--m-tint-ink);
}
