/* @import('arbor:css') */

html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	@apply --mx-bg(var(--m-color-main-paper));
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

body {
	font-size: var(--m-prose-secondary-size);
	font-weight: var(--m-prose-secondary-weight);
	line-height: var(--m-prose-secondary-lineHeight);
}

* {
	box-sizing: border-box;
}
