@import './src/index.css';

@mixin --m1() {
	@result {
		color: blue;
	}
}
.test {
	color: red;
	@apply --m1;
}

.nest {
	--d2: calc(inherit(--d2, -1) + 1);
	background: rgba(0, 0, 0, calc(0.1 * var(--d2)));
	border-width: calc(1px * var(--d2));
	border-style: solid;
	border-color: black;
	border-radius: --depth-radius(0.5em, var(--d2));
}
.nest {
	@apply --depth;
	@apply --depth-p(1rem);
}
