/* inline-arbor-base */

:root {
	font-size: var(--m-prose-secondary-size);
	font-family: var(--m-prose-secondary-font);
	line-height: var(--m-prose-secondary-lineHeight);
	font-weight: var(--m-prose-secondary-weight);
}
