body {
	background: var(--m-color-main-paper);
	color: var(--m-color-main-ink);
}

.surface {
	padding: var(--m-surface-padding);
	border-radius: var(--m-surface-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--m-spacing-sm);

	&[data-emphasis='primary'] {
		@apply --mx-bg(var(--m-surface-primary-bg));
		@apply --mx-fg(var(--m-surface-primary-fg));
	}
	&[data-emphasis='secondary'] {
		@apply --mx-bg(var(--m-surface-secondary-bg));
		@apply --mx-fg(var(--m-surface-secondary-fg));
	}
	&[data-emphasis='ambient'] {
		@apply --mx-bg(var(--m-surface-ambient-bg));
		@apply --mx-fg(var(--m-surface-ambient-fg));
	}
}

.button,
button {
	/* basic shape */
	padding: var(--m-action-padding);
	border-radius: var(--m-action-radius);
	border-width: var(--m-lineWidth-md);
	border-style: solid;

	/* typography */
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: 1;

	/* interaction */
	transition: all var(--m-duration) var(--m-easing);
	cursor: pointer;

	/* use applied fg color for the border, too */
	@apply --mx-border(var(--mx-fg-ref));

	/* apply ring+shadow base props, then set shadow to a default value */
	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-sm);

	&[data-emphasis='primary'] {
		@apply --mx-bg(var(--m-action-primary-bg));
		@apply --mx-fg(var(--m-action-primary-fg));
		&:hover {
			@apply --mx-bg-lighten(2);
		}
		&:active {
			@apply --mx-bg-lighten(4);
		}
	}
	&,
	&[data-emphasis='secondary'] {
		@apply --mx-bg(var(--m-action-secondary-bg));
		@apply --mx-fg(var(--m-action-secondary-fg));
	}
	&[data-emphasis='ambient'] {
		@apply --mx-bg(var(--m-action-ambient-bg));
		@apply --mx-fg(var(--m-action-ambient-fg));
		@apply --mx-border(transparent);
		--mx-shadow-shadow: 0 0 0 0 transparent;

		&:hover,
		&:focus {
			--mx-bg-applied: inherit;
		}
	}

	&:hover {
		@apply --mx-bg-darken(2);
		--mx-shadow-ring: --fn-ring(var(--mx-bg-ref), 4px);
	}
	&:active {
		@apply --mx-bg-darken(4);
		--mx-shadow-ring: --fn-ring(var(--mx-bg-ref), 6px);
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		@apply --mx-bg-lighten(2);
		--mx-shadow-ring: --fn-ring(var(--m-color-main-ink), 2px);
	}
}

.input,
input {
	padding: var(--m-control-padding);
	border-radius: var(--m-control-radius);
	border: 1px solid var(--mx-border-ref);
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: 1;
	@apply --mx-bg(var(--m-control-bg));
	@apply --mx-fg(var(--m-control-fg));
	@apply --mx-border(var(--m-control-border));

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-sm);

	&:hover {
		@apply --mx-bg-darken(1);
		@apply --mx-border-darken(2);
		--mx-shadow-ring: --fn-ring(var(--m-color-main-heavy), 2px);
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(var(--m-color-main-heavy), 4px);
	}
}

.title,
h1 {
	font-size: var(--m-text-primary-size);
	font-weight: var(--m-text-primary-weight);
	line-height: var(--m-text-primary-lineHeight);
	font-family: var(--m-text-primary-font);
}

.p,
p {
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: var(--m-text-secondary-lineHeight);
	font-family: var(--m-text-secondary-font);
}

.caption,
small {
	font-size: var(--m-text-ambient-size);
	font-weight: var(--m-text-ambient-weight);
	line-height: var(--m-text-ambient-lineHeight);
	font-family: var(--m-text-ambient-font);
}
