body {
	background: var(--m-color-main-paper);
	color: var(--m-color-main-ink);
	font-family: system-ui;
}

.surface {
	padding: var(--m-surface-padding);
	border-radius: var(--m-surface-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--m-space-sm);
	/* Ambient = default */
	@apply --mx-bg(var(--m-surface-ambient-bg));
	@apply --mx-fg(var(--m-surface-ambient-fg));

	&[data-emphasis='primary'] {
		@apply --mx-bg(var(--m-surface-primary-bg));
		@apply --mx-fg(var(--m-surface-primary-fg));
	}
	&[data-emphasis='secondary'] {
		@apply --mx-bg(var(--m-surface-secondary-bg));
		@apply --mx-fg(var(--m-surface-secondary-fg));
	}
}

.button,
button {
	/* basic shape */
	@apply --mx-action-secondary;

	/* interaction */
	transition: all var(--m-duration) var(--m-easing);
	cursor: pointer;

	/* use applied fg color for the border, too */
	@apply --mx-borderColor(var(--mx-fg-ref));

	/* apply ring+shadow base props, then set shadow to a default value */
	@apply --mx-shadow(var(--m-shadow-sm));

	&[data-emphasis='primary'] {
		@apply --mx-action-primary;
		&:hover {
			@apply --mx-bg-lighter(2);
		}
		&:active {
			@apply --mx-bg-lighter(4);
		}
	}
	&,
	&[data-emphasis='secondary'] {
		@apply --mx-action-secondary;
	}
	&[data-emphasis='ambient'] {
		@apply --mx-action-ambient;
		--mx-shadow-value: 0 0 0 0 transparent;

		&:hover,
		&:focus {
			--mx-bg-applied: inherit;
			--mx-bg-ref: --fn-color-heavier(
				color-mix(var(--mx-bg-applied), var(--m-color-main-light) 10%),
				1
			);
		}
	}

	&:hover {
		@apply --mx-bg-heavier(2);
		--mx-ring-value: --fn-ring(var(--mx-bg-ref), 4px);
	}
	&:active {
		@apply --mx-bg-heavier(4);
		--mx-ring-value: --fn-ring(var(--mx-bg-ref), 6px);
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		@apply --mx-bg-lighter(2);
		--mx-ring-value: --fn-ring(var(--m-color-main-ink), 2px);
	}
}

.input,
input {
	@apply --mx-control;
	@apply --mx-shadow(var(--m-shadow-sm));

	&:hover {
		@apply --mx-bg-heavier(1);
		@apply --mx-borderColor-heavier(2);
		--mx-ring-value: --fn-ring(var(--m-color-main-heavy), 2px);
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-ring-value: --fn-ring(var(--m-color-main-heavy), 4px);
	}
}

.title,
h1 {
	@apply --mx-prose-primary;
	@apply --mx-animation(fadeIn);
}

.p,
p {
	@apply --mx-prose-secondary;
}

.caption,
small {
	@apply --mx-prose-ambient;
}

.bg-main {
	@apply --mx-bg(var(--m-color-main-ink));
}
.bg-lighter-1 {
	@apply --mx-bg-lighter(1);
}
.bg-heavier-1 {
	@apply --mx-bg-heavier(1);
}
